Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum

In [15]:
num1 = 100
num2 = 20
result = num1 * num2
if result >= 1000:
    print('The result is ', num1+num2)
else:
    print('The result is', result)

The result is  120

Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [16]:
prev = 0
for i in range(10):
    summ = i + prev
    print('Current number {} Previous Number {} Sum : {}'.format(i, prev, summ))
    prev = i

Current number 0 Previous Number 0 Sum : 0
Current number 1 Previous Number 0 Sum : 1
Current number 2 Previous Number 1 Sum : 3
Current number 3 Previous Number 2 Sum : 5
Current number 4 Previous Number 3 Sum : 7
Current number 5 Previous Number 4 Sum : 9
Current number 6 Previous Number 5 Sum : 11
Current number 7 Previous Number 6 Sum : 13
Current number 8 Previous Number 7 Sum : 15
Current number 9 Previous Number 8 Sum : 17

Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

In [19]:
#input
word = input('Enter word')
print('Original string: ', word)

#string length
size = len(word)

print('Printing only even index')
for i in range(0, size - 1, 2):
    print('index[', i, ']', word[i])

Enter word avien putra

Original string:  avien putra
Printing only even index
index[ 0 ] a
index[ 2 ] i
index[ 4 ] n
index[ 6 ] p
index[ 8 ] t

Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:

remove_chars("pynative", 4) so output must be tive. Here we need to remove first four characters from a string.
remove_chars("pynative", 2) so output must be native. Here we need to remove first two characters from a string.

In [24]:
chars = input('Insert string: ')
def remove_chars(chars, n):
    print('Original string: ', chars)
    x = chars[n:]
    return x
print('Remove characters from a string')
print(remove_chars(chars, 4))
print(remove_chars(chars, 2))

Insert string:  doomsday

Remove characters from a string
Original string:  doomsday
sday
Original string:  doomsday
omsday

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

Given:

numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

In [30]:
def first_last_same(numberList):
    print ('Given list: ', numberList)
    first_num = numberList[0]
    last_num = numberList[-1]
    if first_num == last_num:
        return True
    else:
        return False
numbers_x = [10, 20, 30, 40, 10]
print('Result is ', first_last_same(numbers_x))
numbers_y = [75, 65, 35, 75, 30]
print('Result is ', first_last_same(numbers_y))

Given list:  [10, 20, 30, 40, 10]
Result is  True
Given list:  [75, 65, 35, 75, 30]
Result is  False

Iterate the given list of numbers and print only those numbers which are divisible by 5

Given list is  [10, 20, 33, 46, 55]

In [32]:
given_list = [10, 20, 33, 46, 55]
print('Given list ', given_list)
print('Divisible by 5: ')
for i in given_list:
    if i % 5 == 0:
        print(i)

Given list  [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

Write a program to find how many times substring “Emma” appears in the given string.

Given:
str_x = "Emma is good developer. Emma is a writer"

In [35]:
str_x = 'Emma is good developer. Emma is a writer'
e_count = str_x.count('Emma')
print(e_count)

2

Exercise 8: Print the following pattern

1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5

In [37]:
for i in range(10):
    for j in range(i):
        print(i, end='')
    print('\n')

1

22

333

4444

55555

666666

7777777

88888888

999999999

Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

Expected Output:

original number 121
Yes. given number is palindrome number

original number 125
No. given number is not palindrome number

In [44]:
def palindrome(numberPalindrome):
    print('Original number', pal_num)
    ori_num = numberPalindrome
    reverse_num = 0
    while numberPalindrome > 0:
        remindr = numberPalindrome % 10
        reverse_num = (reverse_num * 10) + remindr
        numberPalindrome = numberPalindrome // 10
    if ori_num == reverse_num:
        print('Given number is palindrome')
    else:
        print('Given number is not palindrome')
palindrome(212)
palindrome(123)

Original number 212
Given number is palindrome
Original number 212
Given number is not palindrome

Create a new list from a two list using the following condition

Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

Given:

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

In [49]:
def merge_list(list1, list2):
    result_list = []
    for i in list1:
        if i % 2 != 0:
            result_list.append(i)
    for i in list2:
        if i % 2 == 0:
            result_list.append(i)
    return result_list
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print('Result list: ', merge_list(list1, list2))

Result list:  [25, 35, 40, 60, 90]

For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [52]:
number7536 = 7536
print('given number ', number7536)
while number7536 > 0:
    digit = number7536 % 10
    number7536 = number7536 //10
    print(digit, end=' ')

given number  7536
6 3 5 7

Taxable Income	Rate (in %)
First $10,000	0
Next $10,000	10
The remaining	20
Expected Output:

For example, suppose the taxable income is 45000 the income tax payable is

10000*0% + 10000*10%  + 25000*20% = $6000.

In [60]:
income = 10000
tax_payable = 0
print("Given income", income)
if income <= 10000:
    tax_payable = 0
elif income <= 20000:
    x = income - 10000
    tax_payable = x * 10 / 100
else:
    tax_payable = 0
    tax_payable = 10000 * 10 / 100
    tax_payable += (income - 20000) * 20 / 100
print("Total tax to pay is", tax_payable)

Given income 10000
Total tax to pay is 0

1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [63]:
for i in range(1,11):
    for j in range (1,11):
        print(i * j, end=' ')
    print('\t\t')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

* * * * *  
* * * *  
* * *  
* *  
*

Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
Note here exp is a non-negative integer, and the base is an integer.

In [8]:
def exponent(base, exp):
    exponent = base ** exp
    print('{} raises to the power of {} is: {}'.format(base,exp,exponent))
exponent(5,4)

5 raises to the power of 4 is: 625