Create a function in Python
Write a program to create a function that takes two arguments, name and age, and print their value.

In [1]:
def demo(name, age):
    print(name, age)
demo('asd', 20)

asd 20

Create a function with variable length of arguments
Write a program to create function func1() to accept a variable length of arguments and print their value.

Note: Create a function in such a way that we can pass any number of arguments to this function, and the function should process them and display each argument’s value.

In [4]:
def func1(*args):
    for i in args:
        print(i)
func1(20, 40, 60)
func1(80, 100)

20
40
60
80
100

Return multiple values from a function
Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

Given:

def calculation(a, b):
    # Your Code

res = calculation(40, 10)
print(res)

In [6]:
def calculation(a, b):
    addition = a + b
    subtraction = a -b
    return addition, subtraction
res = calculation(40, 10)
print(res)

(50, 30)

Create a function with a default argument
Write a program to create a function show_employee() using the following conditions.

It should accept the employee’s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary

In [8]:
def showEmployee(name, salary=9000):
    print('Name: {} Salary: {}'.format(name, salary))
showEmployee("Ben", 12000)
showEmployee("Jessa")

Name: Ben Salary: 12000
Name: Jessa Salary: 9000

Create an inner function to calculate the addition in the following way

Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it

In [10]:
def outerf(a, b):
    square = a ** 2
    def addition(a, b):
        return a + b
    add = addition(a, b)
    return add + 5
result = outerf(5, 10)
print(result)

20

Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

A recursive function is a function that calls itself again and again.

Expected Output:

55

In [11]:
def recr(num):
    if num:
        return num + recr(num - 1)
    else:
        return 0
res = recr(10)
print(res)

55

Below is the function display_student(name, age). Assign a new name show_tudent(name, age) to it and call it using the new name.

Given:

def display_student(name, age):
    print(name, age)

display_student("Emma", 26)

In [12]:
def display_student(name, age):
    print(name, age)

display_student("Emma", 26)
showStudent = display_student
showStudent('add', 24)

Emma 26
add 24

Generate a Python list of all the even numbers between 4 to 30
Expected Output:

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [19]:
print(list(range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Find the largest item from a given list
x = [4, 6, 8, 24, 12, 2]

In [20]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24