Write a program to accept two numbers from the user and calculate multiplication

In [4]:
mult1 = int(input('First number: '))
mult2 = int(input('Second number: '))
multresult = mult1 * mult2
print('Your multiplication result is: ', multresult)

First number:  20
Second number:  30

Your multiplication result is:  600

Display three string “Name”, “Is”, “James” as “Name**Is**James”
Use the print() function to format the given words in the mentioned format. Display the ** separator between each string.

In [6]:
print('Name', 'Is', 'James', sep='**')

Name**Is**James

Convert Decimal number to octal using print() output formatting
Given:

num = 8

In [9]:
numoct = 12
print('%o' % numoct)

14

Display float number with 2 decimal places using print()
Given:

num = 458.541315

In [13]:
fltnum = 458.541315
print('{:.2f}'.format(fltnum))

458.54

Accept a list of 5 float numbers as an input from the user

In [17]:
fltlist = []
for i in range (0,5):
    print('Insert at index {} :'.format(i))
    fltitem = float(input())
    fltlist.append(fltitem)
print('Your List: ',fltlist)

Insert at index 0 :

 1.2

Insert at index 1 :

 2.3

Insert at index 2 :

 4.5

Insert at index 3 :

 5.22

Insert at index 4 :

 4.2

Your List:  [1.2, 2.3, 4.5, 5.22, 4.2]

Accept any three string from one input() call
Write a program to take three names as input from a user in the single input() function call.

In [23]:
str1, str2, str3 = input("Enter three string").split()
print('Name1:', str1)
print('Name2:', str2)
print('Name3:', str3)

Enter three string innit down bad

Name1: innit
Name2: down
Name3: bad

Format variables using a string.format() method.
Write a program to use string.format() method to format the following three variables as per the expected output
Given:
totalMoney = 1000
quantity = 3
price = 450

In [25]:
totalMoney = 1000
quantity = 3
price = 450
print('I have {} dollars so I can buy {} football for {} dollars.'.format(totalMoney, quantity, price))

I have 1000 dollars so I can buy 3 football for 450 dollars.